page-login {
    

    .form-item {
        background-color: transparent;   
    }

    img {
        width: 300px;
        align-self: center;
        margin: 25px auto 0 auto;
        display: block;
        padding: 10px;
        border-radius: 100%;
    }
}
